@media all and (max-width: 1399px){
    /* Section Title */
    .section-title {
        font-size: 45px;
    }
    /* Trending Product  */
    .product-card-title {
        font-size: 25px;
    }
    /* Newsletter */
    .newsletter-card-title {
        font-size: 28px;
    }
    /* Blog */
    .blog-list-title {
        font-size: 30px;
    }
    /* Banner */
    .ba-banner-title {
        font-size: 68px;
    }
    .ba-banner-slide {
        max-width: 690px;
    }
}

@media all and (max-width: 1199px){
    /* Benefit */
    .benefit-title {
        font-size: 22px;
    }
    /* Category */
    .category-title {
        font-size: 23px;
    }
    /* Section Title */
    .section-title {
        font-size: 40px;
    }
    /* Trending Product  */
    .product-card-title {
        font-size: 24px;
    }
    .product-card-price {
        font-size: 21px;
    }
    /* Newsletter */
    .newsletter-card-title {
        font-size: 26px;
    }
    /* Blog */
    .blog-list-title {
        font-size: 28px;
    }
    /* Seasonal Collection */
    .scb-overlay-off {
        font-size: 23px;
    }
    .scb-overlay-title {
        font-size: 24px;
    }
    /* Testimonial */
    .testimonial-comment {
        font-size: 24px;
    }
    .tm-user-name {
        font-size: 22px;
    }
    /* Banner */
    .ba-banner-title {
        font-size: 60px;
    }
    .banner-section{
        padding-top: 97px;
        margin-top: -97px;
    }
    
}

@media all and (max-width: 991px){
    /* Benefit */
    .benefit-title {
        font-size: 21px;
    }
    /* Category */
    .category-title {
        font-size: 22px;
    }
    /* Section Title */
    .section-title {
        font-size: 35px;
    }
    /* Trending Products */
    .tp-section-title-wrap{
        flex-direction: column;
    }
    .tp-section-title-left{
        max-width: 100%;
    }
    .tp-section-title-right{
        max-width: 100%;
    }
    /* Trending Product  */
    .product-card-title {
        font-size: 22px;
    }
    .product-card-price {
        font-size: 20px;
    }
    /* Newsletter */
    .newsletter-card-title {
        font-size: 24px;
    }
    /* Blog */
    .blog-list-title {
        font-size: 26px;
    }
    /* Seasonal Collection */
    .scb-overlay-off {
        font-size: 22px;
    }
    .scb-overlay-title {
        font-size: 23px;
    }
    /* Testimonial */
    .testimonial-comment {
        font-size: 22px;
    }
    .tm-user-name {
        font-size: 20px;
    }
    /* Banner */
    .ba-banner-title {
        font-size: 52px;
    }
    .bab2-btn-white {
        padding: 16px 40px;
        font-size: 19px;
    }
    .bab2-btn-outline-dark{
        padding: 15px 30px;
        font-size: 19px;
    }
    .banner-section{
        padding-top: 90px;
        margin-top: -90px;
    }
}

@media all and (max-width: 767px){
    /* Benefit */
    .benefit-title {
        font-size: 20px;
    }
    /* Category */
    .category-title {
        font-size: 21px;
    }
    /* Section Title */
    .section-title {
        font-size: 30px;
    }
    .section-subtitle {
        font-size: 19px;
    }
    .ba-btn-outline-dark {
        font-size: 17px;
    }
    .ba-btn-white {
        font-size: 17px;
    }
    /* Trending Product  */
    .product-card-title {
        font-size: 21px;
    }
    .product-card-price {
        font-size: 19px;
    }
    /* Newsletter */
    .newsletter-card-title {
        font-size: 22px;
    }
    /* Blog */
    .blog-list-body {
        padding: 0px 22px 22px 22px;
    }
    .blog-list-banner {
        height: 400px;
    }
    .blog-list-title {
        font-size: 24px;
    }
    /* Seasonal Collection */
    .scb-overlay-off {
        font-size: 21px;
    }
    .scb-overlay-title {
        font-size: 22px;
    }
    /* Testimonial */
    .testimonial-comment {
        font-size: 20px;
    }
    .tm-user-name {
        font-size: 19px;
    }
    .tm-star svg{
        width: 24px;
        height: auto;
    }
    /* Banner */
    .ba-banner-title {
        font-size: 44px;
    }
    .bab2-btn-white {
        padding: 15px 38px;
        font-size: 18px;
    }
    .bab2-btn-outline-dark{
        padding: 14px 28px;
        font-size: 18px;
    }
    .hero-banner-nav .swiper-button-next, 
    .hero-banner-nav .swiper-button-prev {
        width: 35px;
    }
}

@media all and (max-width: 575px){
    /* Category */
    .category-slide{
        max-width: 300px;
        margin: 0 auto;
    }
    .category-title {
        font-size: 20px;
    }
    /* Section Title */
    .section-title {
        font-size: 25px;
    }
    .section-subtitle {
        font-size: 18px;
    }
    .ba-btn-outline-dark {
        font-size: 16px;
    }
    .ba-btn-white {
        font-size: 16px;
    }
    /* Trending Product  */
    .product-card{
        max-width: 100%;
        margin: 0 auto;
    }
    /* Trending Product  */
    .product-card-title {
        font-size: 20px;
    }
    .product-card-price {
        font-size: 18px;
    }
    /* Newsletter */
    .newsletter-card-title {
        font-size: 20px;
    }
    /* Blog */
    .blog-list-banner {
        height: 350px;
    }
    .blog-list-title {
        font-size: 22px;
    }
    /* Seasonal Collection */
    .scb-overlay-off {
        font-size: 20px;
    }
    .scb-overlay-title {
        font-size: 21px;
    }
    /* Testimonial */
    .testimonial-comment {
        font-size: 19px;
    }
    .tm-user-name {
        font-size: 18px;
    }
    .tm-star svg{
        width: 20px;
    }
    .testimonial-slider {
        margin-left: -12px;
        margin-right: -12px;
        padding: 0 12px 0;
    }
    /* Banner */
    .ba-banner-title {
        font-size: 35px;
    }
    .bab2-btn-white {
        padding: 14px 36px;
        font-size: 17px;
    }
    .bab2-btn-outline-dark{
        padding: 13px 26px;
        font-size: 17px;
    }
    .banner-content-area {
        padding-top: 110px;
    }
    .ba-banner-slider .swiper-wrapper {
        margin-bottom: 70px;
    }
    .hero-banner-nav .swiper-button-next, 
    .hero-banner-nav .swiper-button-prev {
        width: 30px;
    }
    /* Scroll Top Css */
    .scroll-progress-wrap {
        bottom: 24px;
        right: 24px;
    }
    .banner-section{
        padding-top: 84px;
        margin-top: -84px;
    }

}
@media all and (max-width: 450px){
    .sc-banner-overlay {
        right: 21px;
        left: 21px;
        max-width: calc(100% - 42px);
        width: 100%;
    }
    /* Testimonial */
    .tm-user-rating-wrap {
        align-items: flex-start;
        flex-direction: column;
    }
}