@font-face {
    font-family: 'Season';
    src: url('SeasonRegular.woff2') format('woff2'),
        url('SeasonRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

