@font-face {
    font-family: 'Meow Script';
    src: url('MeowScript-Regular.woff2') format('woff2'),
        url('MeowScript-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

